.footer {
	padding: 50px 0px;
	// .footer__container

	&__container {
		text-align: center;
	}

	// .footer__socials

	&__socials {
		margin: 0px 0px 25px 0px;
	}

	// .footer__copyright

	&__copyright {}
}
